.search {
  position: relative;
  input[type="text"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    height: 70px;
    background-color: $graylight;

    font-size: 18px;
    padding-left: 20px;
    font-family: "Lato", sans-serif;
    border: none;
    margin-top: 30px;
  }
  &::after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translate(-50%, -50%);
    background: no-repeat center center url("../images/logos/search.svg");
    width: 33px;
    height: 33px;
  }
}

.tri {
  padding-top: 40px;
  &__elements {
    display: flex;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 80px;
      height: 40px;
      border-radius: 5px;
      font-size: 14px;
      font-family: "Lato", sans-serif;
      color: $white;
      padding: 0 20px;
      margin: 0 10px 15px 0;
      &::after {
        content: "";
        background-image: url("../images/logos/cross.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
      }
    }
  }

  &__filters {
    display: flex;
    color: $white;
    font-family: "Lato", sans-serif;
    font-size: 18px;

    li {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      align-items: center;
      width: 170px;
      height: 70px;
      border-radius: 5px;
      margin-right: 20px;
      position: relative;

      label {
        font-size: 18px;
        font-family: "Lato", sans-serif;
        color: $white;
      }
      input[type="text"] {
        outline: none;
        background: transparent;
        border: none;
        height: 100%;
        font-size: 18px;
        font-family: "Lato", sans-serif;
        color: $white;
        position: absolute;
        left: 0;
        padding-left: 20px;
      }
      &::after {
        content: "";
        background-image: url("../images/logos/arrowDown.svg");
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 10px;
      }
    }
  }
  .blue {
    background-color: $blue;
  }
  .yellow {
    background-color: $yellow;
  }
  .red {
    background-color: $red;
  }
}

.recette {
  padding-top: 50px;
  &__liste {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    li {
      display: flex;
      flex-direction: column;
      height: 364px;
      width: 380px;
      margin: 15px;
      border-radius: 5px;

      .upper {
        height: 50%;
        width: 100%;
        background: #c7bebe;
      }
      .lower {
        height: 50%;
        width: 100%;
        background: #e7e7e7;
        &__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          h2 {
            font-family: "Lato", sans-serif;
            font-size: 18px;
          }
          p {
            font-family: "Lato", sans-serif;
            font-size: 18px;
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
              content: "";
              background: no-repeat center center
                url("../images/logos/timer.svg");
              width: 20px;
              height: 20px;
              display: inline-block;
              margin-right: 5px;
            }
          }
        }
        &__content {
          padding: 0 20px 20px 20px;
          display: flex;
          &-recipe {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 60%;
            h2 {
              font-family: "Lato", sans-serif;
              font-size: 12px;
              font-weight: 700;
            }
            p {
              font-family: "Lato", sans-serif;
              font-size: 12px;
              font-weight: 400;
            }
            &__container {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 4px;
            }
          }
          &-description {
            width: 40%;

            p {
              font-family: "Roboto", sans-serif;
              font-size: 12px;
              font-weight: 400;
              display: block;
              display: -webkit-box;
              -webkit-line-clamp: 7;
              -webkit-box-orient: vertical;
              max-height: 7;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
